{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



<link rel="icon" type="image/png" href="/static/images/logo-img.png">
<link rel="stylesheet" href="/static/css/animate.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/style.css">

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{% static 'js/story8.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar2').toggleClass('active');
            });

    });

</script>

{% block static %}
{% endblock %}


{% block title %}
<title>Home | Rania Devina</title>
{% endblock %}

</head>




<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50" onload="preloader()">


<!-- PRE LOADER -->

<div id="preloader" class="preloader">
     <div class="spinner">
          <span class="spinner-rotate"></span>
     </div>
</div>


<!-- Navigation Section -->

<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
     <div class="container">

          <!-- navbar header -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="#" class="navbar-brand">Rania's</a>
          </div>

          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" class="smoothScroll">Home</a></li>
                    <li><a href="/story7">Story 7</a></li>
                    <li><a href="/story8">Story 8</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
          </div>

          
            
          </div>

     </div>
</div>

{% block content %} {% endblock %}
<!-- FOOTER -->

<footer>
	<div class="container">
		<div class="row">

               <div class="col-md-12 col-sm-12">
                    <div class="wow fadeInUp footer-copyright" data-wow-delay="1.8s">
                         <h4>Copyright &copy; 2020 Rania Devina Nandini</h4>
                    </div>
				<ul class="wow fadeInUp social-icon" data-wow-delay="2s">
                         <li><a href="#" class="fa fa-whatsapp"></a></li>
                         <li><a href="https://twitter.com/runniaaa" class="fa fa-twitter"></a></li>
                         <li><a href="https://instagram.com/raniadevina" class="fa fa-instagram"></a></li>
                         <li><a href="https://linkedin.com/in/raniadevinanandini" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>
			
		</div>
	</div>
</footer>