{% extends 'base.html' %}
{% load static %}

{% block static %}

<link rel="icon" type="image/png" href="static/images/logo-img.png">
<link rel="stylesheet" href="static/css/animate.css">
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/style.css">
{% endblock %}

{% block content %}
<!-- Home Section -->

<section id="home" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-6">
                    <div class="home-img"></div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <div class="home-thumb">
                         <div class="section-title">
                              <h4 class="wow fadeInUp" data-wow-delay="0.3s">welcome to my website &#128075;</h4>
                              <h1 class="wow fadeInUp" data-wow-delay="0.6s">Hello, My Name is Rania.</h1>
                              <p class="wow fadeInUp" data-wow-delay="0.9s">Information System at Universitas Indonesia. I am
                                   highly interested in communication,
                                   public relation, marketing, and I  eager to be
                                   challenged in order to grow further
                                   and improve my self-quality. Know me better! &#10024;
                                   </p>
                              
                              <a href="#about" class="wow fadeInUp smoothScroll section-btn btn btn-success" data-wow-delay="1.2s">Get Started</a>
                              
                         </div>
                    </div>
               </div>


          </div>
     </div>
</section>


<!-- About Section -->

<section id="about" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-12">
                    <div class="about-thumb">
                         <div class="wow fadeInUp section-title" data-wow-delay="0.4s">
                              <h1>About Me</h1>
                              <p class="color-pink">How do I describe myself?</p>
                         </div>
                         <div class="wow fadeInUp" data-wow-delay="0.8s">
                              <p>I was born in Jakarta on July 5, 2001. I was the first child and have a youngher brother named Rafi. </p>
                              <p>I'm a very talk-active person (you can see that I'm extrovert) and i like reading books and explore musics and K-Dramas. In my college life at Fasilkom UI, i'm willing to learn new things and get new experience! Enjoy my website &#128516;</p>
                         </div>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <div class="background-image about-img"></div>
               </div>

               <div class="bg-blue col-md-3 col-sm-6">
                    <div class="skill-thumb">
                         <div class="wow fadeInUp section-title color-pink" data-wow-delay="1.2s">
                              <h1>My Skills</h1>
                              <p>Leadership | Teamwork | Problem Solving</p>
                         </div>

                         <div class=" wow fadeInUp skills-thumb" data-wow-delay="1.6s">
                         <strong>Public Speaking</strong>
                              <span class="color-pink pull-right">90%</span>
                                   <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                   </div>

                         <strong>Critical Thinking</strong>
                              <span class="color-pink pull-right">70%</span>
                                   <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                   </div>

                         <strong>Marketing</strong>
                              <span class="color-pink pull-right">80%</span>
                                   <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                   </div>
                         </div>

                    </div>
               </div>

          </div>
     </div>
</section>


<!-- Service Section -->

<section id="service" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="bg-base col-md-3 col-sm-6">
                    <div class="wow fadeInUp color-darkblue service-thumb" data-wow-delay="0.8s">
                         <i class="fa fa-book"></i>
                              <h3 class="color-darkblue">Reading Novels</h3>
                              <p class="color-darkblue">Novel is my best friend when I'm bored. I can read 1 whole book in 3 hours &#129299;</p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <div class="wow fadeInUp service-thumb" data-wow-delay="1.2s">
                         <i class="fa fa-spotify"></i>
                              <h3>Listening Spotify</h3>
                              <p style="color: black;">When I exercise, I always listen to my playlist on Spotify! You can see my playlist here &#127925;</p>
                    </div>
               </div>

               <div class="bg-dark col-md-3 col-sm-6">
                    <div class="wow fadeInUp color-white service-thumb" data-wow-delay="1.6s">
                         <i class="fa fa-laptop"></i>
                              <h3>Watch K-Dramas</h3>
                              <p class="color-white">Korean Drama is always my favorite, now, I'm watching StartUp! And I root for Han Jipyeong &#129321;</p>
                    </div>
               </div>

               <div class="bg-white col-md-3 col-sm-6">
                    <div class="wow fadeInUp color-pink service-thumb" data-wow-delay="1.8s">
                         <i class="fa fa-cutlery"></i>
                              <h3>Eat, Eat, Eat!</h3>
                              <p class="color-pink">Last but not least, don't forget to eat healthy and always stay fit! Cheer Up, guys &#128151;</p>
                    </div>
               </div>

          </div>
     </div>
</section>




<!-- Experience Section -->

<section id="experience" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-6">
                    <div class="background-image experience-img"></div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <div class="color-white experience-thumb">
                         <div class="wow fadeInUp section-title" data-wow-delay="0.8s">
                              <h1>My Experiences</h1>
                              <p class="color-white">Previous work and my roles</p>
                         </div>

                         <div class="wow fadeInUp color-white media" data-wow-delay="1.0s">
                              <div class="media-object media-left">
                                   <img src="static/images/openhouse-img.png" alt="">
                              </div>
                              <div class="media-body">
                                   <h3 class="media-heading">Project Officer <small>Open House Fasilkom UI</small></h3>
                                   <p class="color-white">I lead Fasilkom UI's first virtual Open House, learn how to work in a team and 
                                        report to superior</p>
                              </div>
                         </div>

                         <div class="wow fadeInUp color-white media" data-wow-delay="1.2s">
                              <div class="media-object media-left">
                                   <img src="static/images/edison-img.png" alt="">
                              </div>
                              <div class="media-body">
                                   <h3 class="media-heading">Marketing Associate <small>Edison League</small></h3>
                                   <p class="color-white">I manage social medias, run ads, create weekly contents, and execute branding.</p>
                              </div>
                         </div>

                    </div>
               </div>

          </div>
     </div>
</section>


<!-- Education Section -->

<section id="education" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-6">
                    <div class="color-white education-thumb">
                         <div class="wow fadeInUp section-title" data-wow-delay="1.0s">
                              <h1>My Education</h1>
                              <p class="color-white">Where do I Study?</p>
                         </div>

                         <div class="wow fadeInUp color-white media" data-wow-delay="1.2s">
                              <div class="media-object media-left">
                                   <img src="static/images/fasilkom-img.png" alt="">
                              </div>
                              <div class="media-body">
                                   <h3 class="media-heading">Universitas Indonesia <small>2019 - Present</small></h3>
                                   <p class="color-white">Majoring in Information System, Faculty of Computer Science. </p>
                              </div>
                         </div>

                         <div class="wow fadeInUp color-white media" data-wow-delay="1.4s">
                              <div class="media-object media-left">
                                   <img src="static/images/34-img.png" alt="">
                              </div>
                              <div class="media-body">
                                   <h3 class="media-heading">SMAN 34 Jakarta <small>2016 - 2019</small></h3>
                                   <p class="color-white">Senior High School, Natural Sciences.</p>
                              </div>
                         </div>

                    </div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <div class="background-image education-img">
                    </div>
               </div>

          </div>
     </div>
</section>


<!-- Quotes Section -->

<section id="quotes" class="parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <i class="wow fadeInUp fa fa-star" data-wow-delay="0.6s"></i>
                    <h2 class="wow fadeInUp" data-wow-delay="0.8s">"Some people dream of success... While others wake up and work hard at it." - Mark Zuckerberg</h2>
                    <p class="wow fadeInUp" data-wow-delay="1s" style="color: white;">Thankyou for scrolling my website. If you have a question, feel free to hit me up! &#128521;</p>
               </div>

          </div>
     </div>
</section>



<!-- SCRIPTS -->

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.parallax.js"></script>
<script src="static/js/smoothscroll.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/custom.js"></script>



{% endblock %}