{% extends 'base.html' %}

{% load static %}
{% block static %}

<link rel="icon" type="image/png" href="/static/images/logo-img.png">
<link rel="stylesheet" href="/static/css/story8.css">
{% endblock %}

{% block title %}
<title>8 | Rania Devina</title>
{% endblock %}
{% block content %}

<div class="main-booksearch" style="background-color: #fff5f2;">
    <div class="row">

        <!-- Sidebar -->
        <div class="about-container">
    
            
            <!-- Header Text -->
            <div class="header-about ml-5 mt-3">
                <br><br><br><br><br>
                <h1 style="text-align: center; font-family: fantasy;">Hi, do you like to read? &#128540;</h1>
            </div>
            <br><br><br>
    
        </div>
        <!-- End sidebar -->
        
    

        <!-- Page Content -->
        <div class="right-container mt-5">

            <!-- Book search content -->
            <div class="container ml-5 mt-3">
                <div class="bookSearch-title">
                    <h2 style="font-size: 35px; font-family: cursive;"><span class="ml-3">&#128218; Runnia's Book Store</span></h2>
                </div>
        
                <div class="search-bar">
                    <input class="form-control" type="text" placeholder="What are you looking for?" id="search-input" name="search">
                </div>
                <br><br>
                
        
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="align-center">No</th>
                            <th scope="col" class="align-center">Cover</th>
                            <th scope="col" class="align-center">Title</th>
                            <th scope="col" class="align-center">Authors</th>
                            <th scope="col" class="align-center">Publisher</th>
                            <th scope="col" class="align-center">Published Date</th>
                        </tr>
                        
                    </thead>
                    
                    <tbody id="search-result"></tbody>
                </table>
                
            </div>
            <br><br><br><br><br>
            <!-- End book search content -->            

        </div>
        <!-- End page content -->
    </div>
</div>      

<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.parallax.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{% static 'js/story8.js' %}"></script>

{% endblock %}
