{% extends 'base.html' %}
{% load static %}

{% block static %}

<link rel="icon" type="image/png" href="/static/images/logo-img.png">
<link rel="stylesheet" href="/static/css/coba.css">
{% endblock %}

{% block title %}
<title>7 | Rania Devina</title>
{% endblock %}

{% block content %}
<div class="main-about" theme="dark">
  
    <div class="about-container">
    
        <div class="left-side d-flex flex-column justify-content-start">
    
            
            <!-- Header Text -->
            <div class="header-about ml-5 mt-3">
                <br><br><br><br><br>
                <h1>Wassup! Welcome back to my channel &#x1F60E;</h1>
            </div>
            
            <!-- Theme switch button -->
            <div class="dots ml-5 mt-3 row">
                <p class="dots-title col">Try something new!</p>
                <div class="dotsies col-4">
                  <div class="dot1" id="dot1" name="dark"></div>
                  <div class="dot2" id="dot2" name="light"></div>
                </div>
            </div>
    
        </div>
        <div class="accordion-container right-side  ml-5 mt-5" style="margin-top: 10%; justify-content: center;">
          
                <div class="accordion mx-5 mt-5" id="accordionExample275" style="padding-top: 20px; width: 80%;">
                    
                        <!-- CARD 1 -->
                        <div class="accordion1 card z-depth-0 bordered" style="order:1;">
                          <div class="card-header flex-row" id="headingOne2">
    
                            <!-- Card title -->
                            <h5 class="mb-0 col">
                              <button class="btn2" type="button" data-toggle="collapse" data-target="#collapseOne2"
                                aria-expanded="true" aria-controls="collapseOne2">
                                + Activities
                              </button>
                            </h5>
    
                            <!-- Buttons -->
                            <div class="accordion-buttons flex-row">
                              <div class="button-up" id="up-accordion1">
                                <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                              <div class="button-down" id="down-accordion1">
                                <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                          </div>
          
                          </div>
                          <!-- Collapse content -->
                          <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2"
                            data-parent="#accordionExample275">
                            <div class="card-body">
                                Saat ini, aku sedang menjalani semester 3 (atau tahun kedua) di Fasilkom UI. Kesibukanku saat ini adalah
                                menyelesaikan tanggung jawab sebagai Project Officer Open House Fasilkom UI 2020 yang akan selesai sebentar lagi. Semangat!
                            </div>
                          </div>
                        </div>
    
                        <!-- CARD 2 -->
                        <div class="accordion2 card z-depth-0 bordered" style="order:2;">
                          <div class="card-header flex-row" id="headingTwo2">
                            <!-- Card title -->
                            <h5 class="mb-0 col">
                              <button class="btn2 btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                + Experiences
                              </button>
                            </h5>
    
                            <!-- Buttons -->
                            <div class="accordion-buttons flex-row">
                                <div class="button-up" id="up-accordion2">
                                  <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                                <div class="button-down" id="down-accordion2">
                                  <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                            </div>
                          </div>
                        
                           <!-- Collapse content -->
                          <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
                            data-parent="#accordionExample275">
                            <div class="card-body">
                                Aku memulai kegiatan-kegiatan volunteer ini sejak SMA. Dari dulu, aku selalu menjadi panitia pentas seni High School
                                Celebration SMAN 34 Jakarta setiap tahunnya. Saat kuliah, kepanitiaan pertamaku dimulai dengan menjadi staff Humas dan Publikasi si OH Fasilkom
                                UI 2019. Aku juga menjadi panitia COMPFEST, PERAK, serta menjadi anggota Badan Eksekutif Mahasiswa (BEM) Fasilkom UI.
                            </div>
                          </div>
                        </div>
    
                        <!-- CARD 3 -->
                        <div class="accordion3 card z-depth-0 bordered" style="order:3;">
                          <div class="card-header flex-row" id="headingThree2">
                            <!-- Card title -->
                            <h5 class="mb-0 col">
                              <button class="btn2 btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                + Achievements 
                              </button>
                            </h5>
    
                            <!-- Buttons -->
                            <div class="accordion-buttons flex-row">
                                <div class="button-up" id="up-accordion3">
                                  <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                                <div class="button-down" id="down-accordion3">
                                  <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                            </div>
                          </div>
    
                           <!-- Collapse content -->
                          <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2"
                            data-parent="#accordionExample275">
                            <div class="card-body">
                                Sejujurnya, aku bukanlah orang yang memiliki banyak prestasi. Apalagi untuk bidang akademis seperti Matematika, Fisika,
                                dan sebagainya. Aku cukup bisa bermain piano, sehingga aku 'sedikit' bisa membanggakan skill tersebut. Selain itu, untuk softskill, Aku
                                ini orangnya sangat fast-respond, lho!
                            </div>
                          </div>
                        </div>
                      

                      <!-- CARD 4 -->
                      <div class="accordion4 card z-depth-0 bordered" style="order:4;">
                        <div class="card-header flex-row" id="headingFour2">
                          <!-- Card title -->
                          <h5 class="mb-0 col">
                            <button class="btn2 btn-link collapsed" type="button" data-toggle="collapse"
                              data-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                              + Favorite Novels 
                            </button>
                          </h5>
  
                          <!-- Buttons -->
                          <div class="accordion-buttons flex-row">
                              <div class="button-up" id="up-accordion4">
                                <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                              <div class="button-down" id="down-accordion4">
                                <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                          </div>
                        </div>
  
                         <!-- Collapse content -->
                        <div id="collapseFour2" class="collapse" aria-labelledby="headingFour2"
                          data-parent="#accordionExample275">
                          <div class="card-body">
                            Ada banyak sekali novel yang aku sukai. Jika aku punya kesempatan, aku ingin pergi ke perpustakaan besar dan lengkap, lalu 
                            menghabiskan waktu seharian membaca buku. Beberapa novel yang aku suka adalah BUMI series dari Tere Liye, SUPERNOVA dari Dee Lestari, karya
                            dari Raditya Dika, dan masih banyak lagi
                          </div>
                        </div>
                      </div>

                      <!-- CARD 5 -->
                      <div class="accordion5 card z-depth-0 bordered" style="order:5;">
                        <div class="card-header flex-row" id="headingFive2">
                          <!-- Card title -->
                          <h5 class="mb-0 col">
                            <button class="btn2 btn-link collapsed" type="button" data-toggle="collapse"
                              data-target="#collapseFive2" aria-expanded="false" aria-controls="collapseFive2">
                              + Most Loved K-Drama
                            </button>
                          </h5>
  
                          <!-- Buttons -->
                          <div class="accordion-buttons flex-row">
                              <div class="button-up" id="up-accordion5">
                                <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                              <div class="button-down" id="down-accordion5">
                                <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                                </svg>
                              </div>
                          </div>
                        </div>
  
                         <!-- Collapse content -->
                        <div id="collapseFive2" class="collapse" aria-labelledby="headingFive2"
                          data-parent="#accordionExample275">
                          <div class="card-body">
                            Ngomongin K-Drama, gaakan ada abisnya deh! Hampir semua drama korea yang booming, aku pasti on going! Di tahun 2020 ini,
                            banyak banget drama yang bagus, seperti Itaewon Class, It's Okay to Not Be Okay, StartUp, Hospital Playlist, dan sebagainya. Wah, kalo untuk
                            drama yang selalu diinget, yang pasti sih Reply 1988 dong! 
                          </div>
                        </div>
                      </div>
                      <iframe src="https://open.spotify.com/embed/track/5dn6QANKbf76pANGjMBida" width="250" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media" style="padding-top: 50px; margin: 10px;"></iframe>
                      <iframe src="https://open.spotify.com/embed/track/4DpNNXFMMxQEKl7r0ykkWA" width="250" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media" style="padding-top: 50px; margin: 10px;"></iframe>
                      <iframe src="https://open.spotify.com/embed/track/5eF8Hn5AHY4qT3aZsVYAzO" width="250" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media" style="padding-top: 50px; margin: 10px;"></iframe>
                    </div>
                    
        </div>
        
    </div>
    
</div>
    
    <!-- SCRIPTS -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.parallax.js"></script>
    <script src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="{% static 'js/testing.js' %}"></script>

{% endblock %}