/* ========= CSS UNTUK STORY 7 ========== */

.accordion {
    background-color: #FF599D;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    margin-left: 80px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #4974a5;
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.titlestory {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.kontenstory {
    color: black;
    margin-left: 70px;
    margin-right: 20px;
    padding-right: 20px;
    font-size: 15px;
}

.rowspotify {
    margin-left: 150px;
    padding: 10px;
}
