[theme="dark"] {
    --first-image: none;
    --first-color:#ffd1c2;
    --second-color: white;
    --panel-color: black;
    --title-color :  #4974a5;
}

[theme="light"] {
    --first-image: none;
    --first-color: #c2d2ff;
    --second-color: #61697f;
    --panel-color: white;
    --title-color: white;
}

* {
    transition: background-color 500ms;
    
}


.main-about {
    width: 100vw;
    height: 120vh;
    background-image : var(--first-image);
    background-color : var(--first-color);
}
.about-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/* LEFT SIDE */

.left-side {
    width : 30vw; 
    height: 120vh;
    border-top-right-radius: 70px;
    background-color:#ff9bc4;
}

.header-about h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700 !important;
    font-size: 40px;
    color: white;
    line-height: 1.3;
    margin-left: 50px;
    margin-right: 20px;
}

.dots {
    margin-left: 50px;
}

/* ACCORDION */
.accordion-container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.accordion {
    width: 100%;
}
.collapse {
    width : 80%;
    overflow: hidden;
}
.card {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    background-color: var(--second-color);
    color: var(--panel-color)
}

.accordion-buttons svg {
    cursor: pointer;
    /* display: inline block !important; */
    width: 180%;
}

.button-up, .button-down {
    display: inline block;
}

.card-body {
    margin-left: 50px;
    margin-right: 30px;
}

.btn2 {
    color: var(--title-color);
    border: none;
    background-color: transparent;
    margin-left: 50px;
    font-size: large;
    font-weight: bold;
}

/* THEME SWITCH BUTTON */
.dots-title {
    color: rgb(16, 13, 31);
}

.dot1 {
    margin: 0 0.2rem 0 0.2rem;
    height: 25px;
    width: 25px;
    background-color:#ffd1c2;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot2 {
    margin: 0 0.2rem 0 0.2rem;
    height: 25px;
    width: 25px;
    background-color: #c2d2ff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dots {
    background-color: white;
    border-radius: 30px;
    width: 14.5vw;
    padding: 15px;
}



